# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc

# Virtual environment
env/
legacy_env/
*.env

# Editor folders
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Static files
staticfiles/

#sensitive data (SECRET_KEY, DEBUG) is safely stored in .env instead of being hardcoded in settings.py
.env
